In [1]:
import numpy as np

# DataTypes & Attributes

In [3]:
# Numpy's main datatypes is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [5]:
a2 = np.array([[1,2.30,7],
               [4,5.7,9]])

a3 = np.array([[[1,2,4],[3,5,6],[7,8,9]],[[10,11,12],[13,15,14],[16,17,18]]])

In [6]:
a2

array([[1. , 2.3, 7. ],
       [4. , 5.7, 9. ]])

In [7]:
a3

array([[[ 1,  2,  4],
        [ 3,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 15, 14],
        [16, 17, 18]]])

In [8]:
a1.shape

(3,)

In [9]:
a2.shape

(2, 3)

In [10]:
a3.shape

(2, 3, 3)

In [11]:
a1.ndim,a2.ndim,a3.ndim

(1, 2, 3)

In [12]:
a1 , a2 , a3

(array([1, 2, 3]),
 array([[1. , 2.3, 7. ],
        [4. , 5.7, 9. ]]),
 array([[[ 1,  2,  4],
         [ 3,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 15, 14],
         [16, 17, 18]]]))

In [13]:
a1.dtype , a2.dtype , a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [14]:
a1.size , a2.size, a3.size

(3, 6, 18)

In [15]:
type(a1) , type(a2) , type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

# Create a DataFrame from a Numpy array

In [16]:
# Create a DataFrame from a Numpy array

import pandas as pd

df = pd.DataFrame(a2)

In [17]:
df

     0    1    2
0  1.0  2.3  7.0
1  4.0  5.7  9.0